<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288722690955-4if9c9a879dsh8l9kn31f5kv9l610q3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288722690955-4if9c9a879dsh8l9kn31f5kv9l610q3o</string>
	<key>API_KEY</key>
	<string>AIzaSyDkY1PE65d_sRpCSDieFMgnc5ksLJ1gb60</string>
	<key>GCM_SENDER_ID</key>
	<string>288722690955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armagangok.resumeMakerApp</string>
	<key>PROJECT_ID</key>
	<string>resume-maker-app-8a68f</string>
	<key>STORAGE_BUCKET</key>
	<string>resume-maker-app-8a68f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288722690955:ios:e6d10915f12fb2450a458e</string>
</dict>
</plist>